<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{basics.name}}</title>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
	<link href="style.css" rel="stylesheet">
   
	<script src= "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  </head>
  <body>
	<div class= "header">
		{{#if basics.picture}}
			<img id="circular" src= "{{basics.picture}}" width= "75px" height= "75px" class= "picture">
		{{/if}}
		<div id="first_impression"> 
			<h1>{{basics.name}}</h1>
			<h3 class= "label">{{basics.label}}</h3>
			<div class= "contact-header">
					{{basics.location.city}}, {{basics.location.region}}, {{basics.location.countryCode}}<br>
					{{basics.location.address}}
			</div>
			
		</div> 
		<br>

		<div id= "profiles">
			{{#basics.profiles}}
			<p class= "profile"><a href= "{{url}}" target= "_blank" class= "profile">{{network}}</a></p>
			{{/basics.profiles}}
		</div>		
	</div>
	<div class= "main">
		{{#if basics.summary}}
		<div id= "about">
			<br>
			<h2><i id="about_icon" class= "fa fa-user left"></i> 關於</h2>
			<h3><h3 class="subheader">關於我自己</h3>
			<p class="text">
				{{basics.summary}}
			</p>
			<br>
		</div>
	</div>
	<hr>

	{{/if}}
	{{#if work}}
	<div class="main" id= "work">
		<h2><i id = "experience_icon" class= "fa fa-suitcase left"></i> 工作經驗</h2>
		{{#each work}}
			<div class= "job">
				<h3 class="subheader">{{position}}, {{company}}</h3>
				<h4>{{startDate}} - {{endDate}}</h4>
				<p class="text">{{summary}}</p>
				{{#if highlights}}
				<h4>HIGHLIGHTS</h4>
				{{/if}}
			</div>
		{{/each}}
	</div>
	<hr>


		{{/if}}
		{{#if volunteer}}
		<div class="main">
			<h2><i id="volunteer_icon" class= "fa fa-child left"></i> 自願服務</h2>
			{{#each volunteer}}
				<div> 
					<h3 class="subheader">{{position}}, {{organization}}</h3>
					<h4>{{startDate}} - {{endDate}}</h4>
					<p class="text">{{summary}}<br><a href= "{{website}}" target= "_blank">{{website}}</a></p>
					{{#if highlights}}
					<h4>HIGHLIGHTS</h4>
					
					{{#each highlights}}
					<li>{{.}}</li>
					{{/each}}
				</div> 
			{{/if}}
			{{/each}}
		</div>
		<hr>


		{{/if}}
		{{#if skills}}
		<div class="main" id= "skills">
			<h2><i id="skill_icon" class= "fa fa-tasks left"></i> 工作技能</h2>
			{{#each skills}}
				<h3 class="subheader" class= "skills">{{name}}</h3>
				{{#each keywords}}
				<span class= "keywords">{{.}}</span>
				{{/each}}
			{{/each}}
		</div><br>
		<hr>

		{{/if}}
		{{#if education}}
		<div class="main" id= "education">
			<h2><i id="school_icon" class= "fa fa-graduation-cap left"></i> 學歷</h2>
			{{#each education}}
				<h3 class="subheader">{{studyType}}, {{area}} - {{institution}}</h3>
				<h4>{{startDate}} - {{endDate}}
				{{#if gpa}}<br>
				GPA: {{gpa}}{{/if}}</h4>
				{{#each education.courses}}
				<h4>COURSES</h4>
				<ul>
					{{#each courses}}
					<li>{{.}}</li>
					{{/each}}
				</ul>
				{{/each}}
			{{/each}}
		</div>
		<hr> 

		{{/if}}
		{{#if awards}}
		<div  class="main" id= "awards">
			<h2><i id="prize_icon" class= "fa fa-trophy left"></i> 獎項</h2>
			{{#each awards}}
				<h3 class="subheader">{{title}} - {{awarder}}</h3>
				<h4>{{date}}</h4>
				<p class="text">{{summary}}</p>
			{{/each}}
		</div>
		<hr> 

		{{/if}}
		{{#if publications}}
		<div class="main" id= "publications">
			<h2><i id="publication_icon" class= "fa fa-book left"></i> 刊物</h2>
			{{#each publications}}
				<h3 class="subheader">{{name}}</h3>
				<h4>{{day}} {{month}} {{year}}</h4>
				<p class="text">{{summary}}<br><a href= "{{website}}" target= "_blank">{{website}}</a></p>
			{{/each}}
		</div>
		<hr> 

		{{/if}}
		{{#if interests}}
		<div class="main" id= "interests">
			<h2><i id="hobby_icon" class= "fa fa-star left"></i> 興趣</h2>
			{{#each interests}}
				<h3 class="subheader" class= "skills">{{name}}</h3>
				{{#each keywords}}
				<span class= "keywords">{{.}}</span>
				{{/each}}
			{{/each}}
		</div>
		<hr> 

		{{/if}}
		{{#if languages}}
		<div class="main" id= "languages">
			<h2><i id="fluency_icon" class= "fa fa-language left"></i> 擅長語言</h2>
			{{#each languages}}
				<h3 class="subheader">{{language}}</h3>
				<h4>Fluency: {{fluency}}</h4>
			{{/each}}
		</div>
		<hr> 

		{{/if}}
		{{#if references}}
		<div class="main" id= "references">
			<h2><i id="references_icon" class= "fa fa-thumbs-up left"></i> 參考</h2>
			{{#each references}}
			<blockquote>
				{{reference}}
				<div class= "name"><br>- {{name}}
					<div id= "contact">
						<br>
						{{#if basics.email}}
						<div class= "contact-header">
							EMAIL <span class= "responsive-hidden">&bull;</span> <span class= "responsive-show"><br></span><a href= "mailto:{{basics.email}}" target= "_blank">{{basics.email}}</a> <span class= "responsive-show"><br><br></span>
						</div>
						{{/if}}
						{{#if basics.phone}}
						<div class= "contact-header">
							PHONE <span class= "responsive-hidden">&bull;</span> <span class= "responsive-show"><br></span>{{basics.phone}} <span class= "responsive-show"><br><br></span>
						</div>
						{{/if}}
						{{#if basics.website}}
						<div class= "contact-header">
							WEBSITE <span class= "responsive-hidden">&bull;</span> <span class= "responsive-show"><br></span><a href= "{{basics.website}}" target= "_blank">{{basics.website}}</a> <span class= "responsive-show"><br><br></span>
						</div>
					</div>
				</div>
				{{/if}}
			
			</blockquote><br>

			{{/each}}
		</div>
		{{/if}}
		<a href="//canner.io" class="ribbon-container" target="_blank">
		    <span class="ribbon">powered by Canner</span>
		</a>
	</div>
	<style>
		.ribbon-container {
		    z-index: 100000;
		    position: relative;
		    display: inline-block;
		    line-height: 1;
		}

		.ribbon {
		    position: fixed;
		    bottom: 1em;
		    left: 0;
		    margin-right: 1em;
		    padding: .75em 1.25em .75em .75em;
		    border-radius: 0 .5em .5em 0;
		    background-color: #39f;
		    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
		    box-shadow: inset 0 .062em 0 rgba(255,255,255,.6), 0 .125em .25em rgba(0,0,0,.2);
		    color: #fff;
		    text-shadow: 0 -.062em 0 rgba(0,0,0,.2);
		    white-space: nowrap;
		    transition: background-color .2s ease-in-out;
		}

		.ribbon:before,
		.ribbon:after {
		    position: absolute;
		    background-color: inherit;
		    content: "";
		}

		.ribbon:before {
		    bottom: 0;
		    left: -.5em;
		    width: .5em;
		    height: 3em;
		    border-radius: 0 0 0 .5em;
		    background-image: linear-gradient(to right, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
		}

		.ribbon:after {
		    top: -1em;
		    left: -.5em;
		    width: .5em;
		    height: 1em;
		    border-radius: .5em 0 0 .5em;
		    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
		    box-shadow: 0 .062em 0 rgba(255,255,255,.6);
		}

		.ribbon-container:hover .ribbon {
		    background-color: #7acc29;
		}
	</style>
  </body>
</html>
